:root {
  /* --main-color: #1da1f2; */
  --main-color: red;
  --background-color: #d7d7db;
}
.button-style {
  background-color: var(---main-color);
}
/* header {
  background-color: var(--main-color);
}
body {
  background-color: var(--background-color);
} */



.content-background {
    background-color: #fff; 
  }